@import "../../node_modules/bootstrap/less/bootstrap.less";

@import "common/main";

#progress-div {
  .header-major;
  article {
    margin: 50px auto;
    width: 70%;
    span.computer {
      margin: 15px auto;
      width: 66px;
      height: 60px;
      display: block;
      background-image: url(../images/computer.png);
      background-repeat: no-repeat;
    }
    .information {
      margin-bottom: 30px;
    }
    #progress-bar {
      width: 40%;
    }
    .status-button{
      padding-top: 150px;
      height: 300px;
    }
  }
}
