#progress-div article {
  margin: 150px auto;
  width: 70%;
}
#progress-div article #progress-bar {
  width: 40%;
}
#progress-div article .goon-button {
  text-align: center;
  width: 20%;
  margin: 100px auto 120px;
}
#progress-div article .status {
  text-align: center;
}
#progress-div article .status .student-number {
  display: inline-block;
}
#progress-div article .status .quiz-number {
  display: inline-block;
}
#progress-div article .status .rank {
  display: inline-block;
}
