@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "common/bootstrap-patch";
@import "common/main";

body {
  background-color: #EEEEEE;
}

#answer-div {
  .header-major;
  header {
    margin-bottom: 14px;
  }

  .main {
    background-color: #FFF;

    .logic-content {
      position: relative;
      background-color: #FFFFFF;

      .left-text {
        height: 600px;
        overflow-y: scroll;
        float: left;
        background-color: #FFFFFF;
        img {
          margin: 0px 50px;
          display: inline-block;
        }
      }

      .right-text {

        text-align: center;
        line-height: 3em;
        float: left;
        display: inline-block;
        margin: 0   auto;
        margin-left: 60px;
      }

      .result-text {
        line-height: 34px;
        text-align: right;
      }

      .answer-submit {
        clear: both;

      }
    }
  }

  .sidebar {
    background-color: #FFF;
    .description {
      padding-top: 20px;
      padding-bottom: 40px;
      text-align: center;
      h2 {
        text-align: center;
        margin-top: 0;
      }
      p {
        display: inline-block;
        margin: 5px 5px;
      }
    }
    .tip {
      margin-top: 100px;
      margin-bottom: 50px;
      padding-top: 30px;
      text-align: center;
    }
    .select {
      margin-bottom: 40px;
      button {
        display: block;
        margin: 10px auto;
        width: 150px;
      }
    }
    .confirm {
      padding: 30px 10px;
    }
  }
  #content {
    background-color: #FFFFFF;
  }
}
