#answer-div {
  #header;
  #sidebar {
    float: left;
    width: 21%;
    background-color: rgb(66, 132, 147);
    .description {
      padding-top: 20px;
      padding-bottom: 40px;
      h2 {
        text-align: center;
        margin-top: 0;
      }
    }
    .tip {
      margin-top: 100px;
      margin-bottom: 50px;
      padding-top: 30px;
      text-align: center;
    }
    .select {
      margin-bottom: 40px;
      button {
        display: block;
        margin: 10px auto;
        width: 150px;
      }
    }
    .confirm {
      padding: 30px 10px;
      background-color: rgb(230, 235, 20);
      button {
        display: block;
        margin: 10px auto;
        width: 150px;
      }
    }
  }
  #sidebar,
  #content {
    height: 800px;
  }
  #content {
    float: right;
    width: 79%;
    .title {
      .box {
        width: 450px;
        margin: 0 auto;
        padding-top: 50px;
        ol {
          padding: 0;
        }
        li {
          list-style-type: none;
          display: inline-block;
          text-align: center;
          margin: 0 auto;
          width: 40px;
          height: 40px;
          border: 1px solid black;
        }
      }
    }
    .result {
      margin-top: 500px;
      text-align: right;
      input {
        width: 60px;
      }
    }
  }
}
