#answer-div {
  header {
    nav {
      background-color: @nice-green;
      min-height: 70px;
    }
    ul a {
      color: white;
      margin-top: 10px;
      margin-left: 5px;
    }
    .navbar {
      margin-bottom: 0;
    }
    .navbar-header {
      margin-top: 10px;
    }
    .navbar-brand {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-left: 30px;
      font-size: 20px;
      color: white;
    }
  }
  #sidebar {
    float: left;
    width: 21%;
    height: 600px;
    border: 2px solid rgb(29, 152, 217);
    .description {
      padding-top: 20px;
      padding-bottom: 40px;
      h2 {
        text-align: center;
        margin-top: 0;
      }
    }
    .tip {
      margin-top: 100px;
      margin-bottom: 50px;
      padding-top: 30px;
      text-align: center;
    }
    .select {
      margin-bottom: 40px;
      button {
        display: block;
        margin: 10px auto;
        width: 150px;
      }
    }
  }
  #content {
    float: right;
    width: 79%;
    .title {
      height: 650px;
      .box {
        width: 450px;
        margin: 0 auto;
        padding-top: 50px;
        ol {
          padding: 0;
        }
        li {
          list-style-type: none;
          display: inline-block;
          text-align: center;
          margin: 0 auto;
          width: 40px;
          height: 40px;
          border: 1px solid black;
        }
      }
    }
    .result {
      text-align: right;
      input {
        width: 60px;
      }
    }
  }
  .confirm {
    float: left;
    width: 21%;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 2px solid rgb(29, 152, 217);
    button {
      display: block;
      margin: 10px auto;
      width: 150px;
    }
  }
}
