@blue: #19ABB5;
@dark-yello: #B39408;

#index-div {
  section {
    overflow: hidden;
  }

  .first-page {

      .head {
        padding: 0 10px;
        height: 80px;
        background: white;
        overflow: hidden;

        h1 {
          span {
            color: @blue;
          }
        }
      }

      .content {
        height: 100%;
        background-image: url(../images/bg.jpg);
        background-size: 100% auto;
      }

      .statement {
        height: 100%;
        margin: 0 auto;
        width: 1000px;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;

        h2, h3 {
          color: #FFF;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 3em;
        }

        h2 {
          font-size: 4em;
          margin: 4em 0 1em 0;
        }

        h3 {
          width: 600px;
        }

        a.btn {
          display: block;
          margin: 0 auto;
          width: 16em;
        }
      }

  }

  .second-page {
    padding-top: 40px;
    color: @blue;

    .glyphicon {
      font-size: 60px;
    }
    h2, h3, h4, h5 {
      font-weight: normal;
      line-height: 1.4em;
    }
    .row {
      margin-top: 15px;
    }
  }

  .third-page {
    h1 {
      margin: 75px 0;
    }

    .content {
      background: @dark-yello;
      height: 100%;
    }
    .left-avatar, .right-avatar {
      margin: 0 auto;
      height: 200px;
      width: 200px;
      border-radius: 100%;
      margin-top: 60px;
    }

    .left-avatar {
      background-image: url(../images/wh.png);
      background-size: 100% auto;
    }

    .right-avatar {
      background-image: url(../images/zzh.png);
      background-size: auto 100%;
    }

    .my-word {
      color: #FFF;
      font-style: italic;
      font-size: 20px;
      padding-top: 30px;
    }

    .my-name {
      color: #FFF;
    }
  }
}
