#progress-div {
  header {
    nav {
      background-color: @nice-green;
      min-height: 70px;
    }
    ul a {
      color: white;
      margin-top: 10px;
      margin-left: 5px;
    }
    .navbar {
      margin-bottom: 0;
    }
    .navbar-header {
      margin-top: 10px;
    }
    .navbar-brand {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-left: 30px;
      font-size: 20px;
      color: white;
    }
  }
  article {
    margin: 150px auto;
    width: 70%;
    #progress-bar {
      width: 40%;
    }
    .goon-button {
      text-align: center;
      width: 20%;
      margin: 100px auto 120px;
    }
    .status {
      text-align: center;
      .student-number {
        display: inline-block;
      }
      .quiz-number {
        display: inline-block;
      }
      .rank {
        display: inline-block;
      }
    }
  }
}
