#progress-div {
  article {
    margin: 150px auto;
    width: 70%;
    #progress-bar {
      width: 40%;
    }
    .goon-button {
      text-align: center;
      width: 20%;
      margin: 100px auto 120px;
    }
    .status {
      text-align: center;
      .student-number {
        display: inline-block;
      }
      .quiz-number {
        display: inline-block;
      }
      .rank {
        display: inline-block;
      }
    }
  }
}
