
#start-div {

  header {
    nav {
      background-color: @nice-green;
      min-height: 70px;
    }

    ul a {
      color: white;
      margin-top: 10px;
      margin-left: 5px;
    }

    .navbar-header {
      margin-top: 10px;
    }

    .navbar-brand {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-left: 30px;
      font-size: 20px;
      color: white;
    }
  }

  article {
    section {
      p {
        text-align: center;
      }
    }
    .title p {
      font-size: 40px;
      margin-bottom: 30px;
    }

    .content p {
      width: 70%;
      margin: 0 auto 100px auto;
    }

    .start-button {
      text-align: center;
      width: 20%;
      margin: 0 auto;
      button {
        // background-color: @blue;
        //border:  1px solid @blue;
      }
    }

  }

}