<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.twars.data.UserMapper">
    <select id="getUserById" resultType="com.thoughtworks.twars.bean.User">
        select * from Users where id = #{id}
    </select>

    <select id="getUserByEmail" resultType="com.thoughtworks.twars.bean.User">
        select * from Users where email = #{email} LIMIT 1
    </select>

    <select id="getUserByMobilePhone" resultType="com.thoughtworks.twars.bean.User">
        select * from Users where mobilePhone = #{mobilePhone} LIMIT 1
    </select>

    <select id="getUserByEmailAndPassWord" parameterType="com.thoughtworks.twars.bean.User" resultType="com.thoughtworks.twars.bean.User">
        SELECT * FROM Users WHERE email = #{email} AND password = #{password} LIMIT 1
    </select>



    <insert id="insertUser" parameterType="com.thoughtworks.twars.bean.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Users(email, mobilePhone, password, createDate)
        VALUES (#{email}, #{mobilePhone}, #{password}, UNIX_TIMESTAMP())
    </insert>
</mapper>