<%- include("layouts/header")%>

  <div id="answer-div">
    <%- include("layouts/nav.ejs")%>

    <div id="sidebar">
      <div class="description">
        <h2>逻辑题</h2>
        <ol>
          <li>
            请仔细阅读内容，并在规定的时间段内答完题目
          </li>
        </ol>
      </div>

      <div class="tip">
        <p class="remain-time">
          您还有90分钟
        </p>
        <p class="finish-rate">
          当前第1题共10题，已完成x题
        </p>
      </div>

      <div class="select">
        <button type="button" class="btn btn-warning" name="button">上一题</button>
        <button type="button" class="btn btn-warning" name="button">下一题</button>
      </div>

      <div class="confirm">
        <button type="button" class="btn btn-danger" name="button">交卷</button>
      </div>
    </div>

    <div id="content">
      <div class="title">
        <div class="box">
          <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
          </ol>
        </div>
      </div>

      <div class="result">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputresult" class="col-md-10 control-label">结果为：</label>
            <div class="col-md-2">
              <input type="text" class="form-control" id="inputresult">
            </div>
          </div>
        </form>
      </div>
    </div>



  </div>

  <script src="./public/scripts/answer.js"></script>

  <%- include("layouts/bottom")%>
