<%- include("layouts/header") %>

  <div id="progress-div">
    <%- include("layouts/nav.ejs")%>

      <article>
        <div class="progress">
          <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
            40%
          </div>
        </div>

        <div class="goon-button">
          <button type="button" class="btn btn-info btn-lg btn-block">继续</button>
        </div>

        <div class="status">
          <div class="student-number col-md-4">共有1234名学生在学习</div>
          <div class="quiz-number col-md-4">共有1234道题目</div>
          <div class="rank col-md-4">你当前的排名是:100</div>
        </div>

      </article>
      <footer>

      </footer>
  </div>

<script src="public/scripts/progress.js"></script>

<%- include("layouts/bottom") %>
