<%- include("layouts/header") %>

<div id="start-div">
  <%- include("layouts/nav.ejs")%>

  <article>
    <section class="title">
      <p>逻辑题</p>

    </section>
    <section class="content">
      <p>
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        逻辑题

      </p>
    </section>
    <section class="start-button">
      <button type="button" class="btn btn-info btn-lg btn-block">开始</button>
    </section>

  </article>

  <footer>

  </footer>
</div>
<script src="public/scripts/start.js"></script>

<%- include("layouts/bottom") %>
