<%- include("layouts/header")%>


<!--header-->
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">思沃特训营</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">个人中心</a></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>
<!--end header-->

<!--article-->
<article>
    <section >
        <p>逻辑题</p>

    </section>
    <sectio>
        <p>
            逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
            逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
            逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
            逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
            逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题逻辑题
        </p>
    </sectio>

</article>
<!--end article-->

<!--footer-->
<footer>
    <button type="button" class="btn btn-info">开始</button>
</footer>
<!--end footer-->

<script src="public/scripts/main.js"></script>

<%- include("layouts/bottom")%>